{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
    <div class="page-title-login">
        <div class="panel-heading custom-header-panel">
            <h3 class="panel-title">Connexion</h3>
        </div>
        <div class="panel-body">
            <form id="formLogin" action="{{ path('security_login') }}" method="POST">
                <div class="txt_field">
                    <input type="text" name="username" placeholder="Nom d'utilisateur" id="username" value="{{ last_username }}" required>
                    <span></span>                            
                </div>
                <div class="txt_field">
                   <input type="password" id="password" placeholder="Mot de passe" name="password" />
                    <span></span>
                </div>

                <div id="messageUserInexistant" class="hidden text-danger row justify-content-center mb-3"></div>

                <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <input name="submit" type="submit" id="inputSubmitLogin" value="Login" class="cta dark">
            </form>
        </div>
    </div>
{% endblock %}