{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
    <div class="page-title-login">
        <div class="panel-heading custom-header-panel">
            <h3 class="panel-title">Connexion</h3>
        </div>
        <div class="panel-body">
			{# app.session.get('email') #}

            <form id="formLogin" action="" method="POST">
                <div class="txt_field">
                    <input type="email" name="email" placeholder="Email" id="email" required>
                    <span></span>                            
                </div>
                <div class="txt_field">
                    <input type="password" name="password" placeholder="Password" id="password" required>
                    <span></span>
                </div>

                <div id="messageUserInexistant" class="hidden text-danger row justify-content-center mb-3"></div>

                <input name="submit" type="submit" id="inputSubmitLogin" value="Login">
            </form>
        </div>
    </div>
{% endblock %}