<header class="fixed-top navbarRobot" id="navbarRobot">
	<div class="container">
		<div class="row justify-content-center">
			<div class="header-container">

				<div class="site-branding site-branding-big">
					<a href="/" rel="home" class="site-title">
						<div class="logos_wrapper">
							<img class="top-logo-home" src="https://consort-group.com/wp-content/themes/consort/assets/img/logos/header/logo_black-mini.svg" alt="Consort Group (aller à l’accueil)">
						</div>
					</a>
				</div>

				<div class="header_nav">
					<nav class="main-navigation">
						<div class="menu-wrap">
							<ul>
								<li>
									<a href="{{ path("home_page") }}">Consulter les profils</a>
								</li>
								<li >
									<a href="{{ path("app_profil_create") }}">Créer un profil</a>
								</li>
							</ul>
						</div>                            
					</nav>
					<div class="menu-wrap">
								{% if app.user %}
									<a class="cta dark" href="{{ path("security_logout") }}" role="button">Déconnexion</a>
								{% else %}
									<a class="cta dark" href="{{ path("security_login") }}" role="button">Connexion</a>
								{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>