<nav class="navbar navbar-expand-lg navbar-expand-md fixed-top bg-dark navbar-dark">
	<a class="navbar-brand" href="/">
		<img src="{{ asset('images/logo_consort.png') }}" alt="Logo Consort" style="width: 180px; padding-left: 20px;">
	</a>
	<div id="NavbarSupportedContent" class="collapse navbar-collapse nav-head">
		<ul class="navbar-nav ms-auto" style="margin-right : 20px; padding-left: 10px;">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="NavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profils</a>
				<ul class="dropdown-menu" aria-labelledby="NavbarDropdown">
					<li><a class="dropdown-item" href="profils.php">Consulter les profils</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="creer_profil.php">Créer un profil</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="NavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">À propos</a>
				<ul class="dropdown-menu" aria-labelledby="NavbarDropdown">
					<li><a class="dropdown-item" href="#">Consort</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">RobotCV</a></li>
				</ul>
			</li>
		</ul>
		<div class="navbar-collapse collapse my-2 my-sm-0" style="padding-right: 10px;">	
			<a class="btn btn-outline-danger ms-auto my-2 my-sm-0" href="logout.php" role="button">Déconnexion</a>
			<a class="btn btn-outline-success ms-auto my-2 my-sm-0" href="{{ path("app_login") }}" role="button">Connexion</a>
		</div>
	</div>
</nav>