{% extends 'base.html.twig' %}

{% block body %}
<div class="body">
        <!-- Titre -->
        <h3 class="page-title"><strong>Accès refusé 404</strong></h3>
        <div class="container center">
       
            <p class="text-center">Désolé, vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
            <p class="text-center">Veuillez contacter l'administrateur du site si vous pensez que cela est une erreur.</p>
        </div>
</div>
{% endblock %}
